html
{
    font-family: sans;
}

*
{
    box-sizing: border-box;
}

#content
{
    clear: both;
}


/* ATOMIC GALLERY */

section.atomic
{
  padding:        0;
  outline:        #888 dashed thin;
  margin-bottom:  1.5em;
}
section.atomic > h3,
section.atomic > h4
{
  font-size:  1em;
  margin:     0;
  padding:    1.5em;
  background-color: #eee;
}


/* MOLECULES */

/* User */

.molecule_User .photo
{
    width:  3em;
    height: 3em;
    max-width:  80px;
    max-height: 80px;
    vertical-align: middle;
    margin-right: 0.5em;
}


.molecule_DayChooser
{
  text-align: center;
}
.molecule_DayChooser .prev,
.molecule_DayChooser .next
{
  font-size: 2em;
  text-decoration: none;
  top: 0.1em;
  position: relative;
}
.molecule_DayChooser input[type=date]
{
  font-size: 1.6em;
}
.molecule_DayChooser input[type=submit]
{
  font-size: 1.2em;
}
.molecule_DayChooser input[type=date]::-webkit-clear-button,
.molecule_DayChooser input[type=date]::-webkit-inner-spin-button
{ display: none; }
.molecule_DayChooser input[type=date]::-moz-clear-button,
.molecule_DayChooser input[type=date]::-moz-inner-spin-button
{ display: none; }
.molecule_DayChooser input[type=date]::-o-clear-button,
.molecule_DayChooser input[type=date]::-o-inner-spin-button
{ display: none; }
.molecule_DayChooser input[type=date]::clear-button,
.molecule_DayChooser input[type=date]::inner-spin-button
{ display: none; }

/* StandUp */

.molecule_StandUp
{
    padding-left: 5.25em;
}

.molecule_StandUp h3
{
    font-size: 1.5em;
    color: #555;
    font-weight: normal;
    margin: 1em 0 0.5em -3.5em;
}

.molecule_StandUp > h3 .molecule_User .photo
{
    vertical-align: top;
    float: left;
}
.molecule_StandUp.mine > h3 .molecule_User .fn
{
  color: #5884AD;
}

.molecule_StandUp > fieldset
{
    padding: 0;
    border: #aaa solid thin;
    margin-top: 1em;
    transition: background-color 0.2s ease-in;
}
.molecule_StandUp .draft-switch
{
  margin-left: 1em;
}
.molecule_StandUp:not(.mine) .draft-switch input,
.molecule_StandUp:not(.mine):not(.draft) .draft-switch
{
  display: none;
}
.molecule_StandUp.draft > fieldset
{
  background-color: #fea;
}
.molecule_StandUp .draft-switch
{
  color: orange;
}
.molecule_StandUp > fieldset > legend
{
    margin-left: 0.9em;
    padding-left: 0.1em;
    font-size: 1em;
    color: #666;
}

@media all and (min-width: 80em)
{
  .molecule_StandUp > fieldset
  {
    width: 32.99%;
    float: left;
  }
  .molecule_StandUp::after
  {
    content: '';
    display:block;
    clear: both;
  }
}

.molecule_StandUp .planEntries
{
    width: 100%;
    min-height: 3em;
    border: none;
    padding: 1em;
    margin: 0;
    font-family: sans;
    white-space: pre-wrap;
    font-size: 1em;
    background-color: transparent;
    color: inherit;
}

.molecule_StandUp .buttons
{
  text-align: right;
}
.molecule_StandUp .buttons input[type=submit]
{
  font-size: 1.5em;
}

/* ORGANISMS */

/* PageHeader */

.organism_PageHeader h1,
.organism_PageHeader .user
{
    display: inline;
}

.organism_PageHeader .user
{
    float: right;
    font-size: 0.8em;
}
.organism_PageHeader .user .photo
{
    max-width:  1.5em;
    max-height: 1.5em;
}

/* PageFooter */

.organism_PageFooter
{
  margin: 0;
  font-size: 0.8em;
}
.organism_PageFooter p:first-child
{
  margin-top: 0;
}
.organism_PageFooter p:last-child
{
  margin-bottom: 0;
}
