html
{
    font-family: sans;
}

*
{
    box-sizing: border-box;
}

.plan > fieldset
{
    padding: 0;
    border: #aaa solid thin;
}
.plan > fieldset > legend
{
    margin-left: 0.9em;
    padding-left: 0.1em;
    font-size: 1em;
    color: #666;
}

.planEntries
{
    width: 100%;
    min-height: 3em;
    border: none;
    padding: 1em;
    margin: 0;
    font-family: sans;
    white-space: pre-wrap;
    font-size: 1em;
}