html
{
    font-family : sans-serif;
}

#head h1
{
    margin-bottom: 0;
}

#dayChooser
{
    font-size: 1.1em;
}

.entry .subentries
{
    margin: 0;
    padding: 0;
    list-style: none;
}
.entry .photo
{
    width  : 2em;
    height : 2em;
    vertical-align: middle;
    padding-right: 0.5em;
}
.entry .subentries textarea
{
    width: 100%;
    max-width: 100%;
    height: 4em; /* TODO autoexpandable */
    border: #ccc solid thin;
    font-family: inherit;
    font-size: inherit;
}
