* { box-sizing: border-box; }

body
{
    font-family : sans-serif;
    margin: 0;
    padding: 0.5em 1em 0;
}

#head
{
    float: left;
}

#head h1,
#head p
{
    margin: 0;
    margin: 0;
    line-height: 1em;
}

#dayChooser
{
    float: right;
    font-size: 1.5em;
}

#contents
{
    clear: both;
}

.entry h2
{
    margin: 0;
    clear: both;
}

.entry .subentries
{
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1.2em;
}
.entry .photo
{
    width  : 2em;
    height : 2em;
    vertical-align: middle;
    padding-right: 0.5em;
}
.entry .subentries .label
{
    display: inline;
    position: relative;
    background-color: white;
    margin: 0 0 0 -0.25em;;
    padding: 0 0.25em;
    font-weight: normal;
    font-size: 1em;
    color: #555;
}
.entry .subentries .subentry
{
    width: 100%;
    width: -webkit-calc(100% + 1em);
    width: -moz-calc(100% + 1em);
    width: -ms-calc(100% + 1em);
    width: calc(100% + 1em);
    min-height: 2em;
    padding: 0.75em 0.5em 0.5em;
    margin: -0.6em -0.5em 1em;
    border: #ccc solid thin;
    font-family: inherit;
    font-size: inherit;
    overflow: auto;
}


#foot
{
    margin-top: 1em;
    font-size: 0.8em;
    clear: both;
    margin: 0 -1.25em;
    padding: 1em 1.25em;
    background-color: #eee;
}
#foot p
{
    margin: 0;
}

/* display subentries beside each other on wide screens */
@media all and (min-width: 84em)
{
    .entry .subentries > li
    {
        float: left;
        width: 25%;
        padding-left: 1.5em;
    }
    .entry .subentries > li:first-child
    {
        padding-left: 0;
    }
}
