* { box-sizing: border-box; }

body
{
    font-family : sans-serif;
    margin: 0;
    padding: 0.5em 1em 0;
}

#head
{
    float: left;
}

#head object,
#head img
{
    width: 1em;
    height: 1em;
    vertical-align: top;
}

#head h1,
#head p
{
    margin: 0;
    margin: 0;
    line-height: 1em;
}

#dayChooser
{
    float: right;
    font-size: 1.5em;
}
#dayChooser::-webkit-clear-button
{
    -webkit-appearance: none;
}

#contents
{
    clear: both;
}

.entry h2
{
    margin: 0;
    clear: both;
}

.entry .subentries
{
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1.2em;
}
.entry .photo
{
    width  : 2em;
    height : 2em;
    vertical-align: middle;
    padding-right: 0.5em;
}
.entry .subentries .label
{
    display: inline;
    position: relative;
    background-color: white;
    margin: 0 0 0 -0.25em;;
    padding: 0 0.25em;
    font-weight: normal;
    font-size: 1em;
    color: #555;
}
.entry .subentries .subentry
{
    width: 100%;
    width: -webkit-calc(100% + 1em);
    width: -moz-calc(100% + 1em);
    width: -ms-calc(100% + 1em);
    width: calc(100% + 1em);
    min-height: 2em;
    padding: 0.75em 0.5em 0.5em;
    margin: -0.6em -0.5em 1em;
    border: #ccc solid thin;
    font-family: inherit;
    font-size: inherit;
    /* user generated content! */
    overflow: auto;
}

.entry .subentries .subentry h1,
.entry .subentries .subentry h2,
.entry .subentries .subentry h3,
.entry .subentries .subentry h4,
.entry .subentries .subentry h5,
.entry .subentries .subentry h6,
.entry .subentries .subentry p,
.entry .subentries .subentry ul,
.entry .subentries .subentry ol,
.entry .subentries .subentry blockquote
{
    margin: 0 0 1em 0;
}
.entry .subentries .subentry h1:last-child,
.entry .subentries .subentry h2:last-child,
.entry .subentries .subentry h3:last-child,
.entry .subentries .subentry h4:last-child,
.entry .subentries .subentry h5:last-child,
.entry .subentries .subentry h6:last-child,
.entry .subentries .subentry p:last-child,
.entry .subentries .subentry ul:last-child,
.entry .subentries .subentry ol:last-child,
.entry .subentries .subentry blockquote:last-child
{
    margin: 0;
}


#foot
{
    margin-top: 1em;
    font-size: 0.8em;
    clear: both;
    margin: 0 -1.25em;
    padding: 1em 1.25em;
    background-color: #eee;
}
#foot p
{
    margin: 0;
}

/* room for two columns */
@media all and (min-width: 42em)
{
    .subentries.items-2n > li
    {
        float: left;
        width: 50%;
        padding-left: 1.5em;
    }
    .subentries.items-2n > li:nth-child(2n+1)
    {
        clear: left;
        padding-left: 0;
    }
}

/* room for three columns */
@media all and (min-width: 63em)
{
    .subentries.items-3n > li
    {
        float: left;
        width: 33.333%;
        padding-left: 1.5em;
    }
    .subentries.items-3n > li:first-child
    {
        padding-left: 0;
    }
}

/* room for four columns */
@media all and (min-width: 84em)
{
    .subentries.items-4n > li
    {
        width: 25%;
    }
    .subentries.items-4n > li:nth-child(2n+1)
    {
        clear: none;
        padding-left: 1.5em;
    }
    .subentriess.items-4n > li:first-child
    {
        padding-left: 0;
    }
}
