* { box-sizing: border-box; }

html
{
    font-family : sans-serif;
}

#head
{
    float: left;
}

#head h1
{
    margin: 0;
}

#dayChooser
{
    float: right;
    font-size: 1.1em;
}

#contents
{
    clear: both;
}

.entry h2
{
    margin: 0;
}

.entry .subentries
{
    margin: 0;
    padding: 0;
    list-style: none;
}
.entry .photo
{
    width  : 2em;
    height : 2em;
    vertical-align: middle;
    padding-right: 0.5em;
}
.entry .subentries .subentry
{
    width: 100%;
    max-width: 100%;
    min-height: 4em;
    padding: 0.5em;
    border: #ccc solid thin;
    font-family: inherit;
    font-size: inherit;
}
