h2 Atoms

mixin SvgImage(href, alt)
  - var altId;
  if undefined !== alt
    - altId = 'svg' + (+ new Date()).toString(16) + Math.floor(Math.random() * 10) + '__alt';
  svg(role='img', aria-labelledby=altId)
    if undefined !== alt
      title(id=altId)= alt
    image(xlink:href='/images/' + href + '.svg', src='/images/' + href + '.png', role='presentation', alt=alt, width='100%', height='100%')

section.atomic
  h1 +SvgImage
  p SVG image with PNG fallback. Width and height have to be set by CSS.

  div
    style(scoped=true).
      svg, img { width: 5em; height: 5em; }
    +SvgImage('logo', 'choosing an alternative text for logos is hard')
