extends atoms

mixin User(user)
  span.hcard.molecule_User(data-user-id=user._id)
    if user.avatarUrl
      img.photo(src=user.avatarUrl)
    else
      - var gravatarUrl = '//gravatar.com/avatar/' + user.gravatarId + '?size=80';
      - var roboHashUrl = '//robohash.org/' + gravatarId + '?size=80x80';
      img.photo(width=80)(height=80)(src=gravatarUrl + '&d=' + escape(roboHashUrl))
    span.fn
      = user.displayName
    // TODO debug stuff
    small.providers
      |  (
      = user.ids.map(function (entry) { return entry.provider; }).join(', ')
      | )
