extends ../layout
include ../atomic/organisms

block content
  - var classNames, mine;
  content.plans
    +DayChooser(date, '/plan/')

    for plan in plans
      // if previous was mine
      if mine
        h2.i18n Others' plans
      - mine = plan.user._id == user._id;
      +StandUp(plan, mine)
