doctype 5
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    block title
      title
        if title
          =title
          |  ☆ 
        | StandUpper
    block css
      link(rel='stylesheet', href='/css/style.css')
    if config.server.livereload
      script(src='//' + config.server.host + ':' + config.server.livereload.port + '/livereload.js')
  body
    header#head
      h1 StandUpper
      if user
        div.user
          +User(user)
          |  
          a(href='/deauth') de-auth
    div#content
      block content
    footer#foot
      block footer
    block js
      script(src='/js/script.js')