doctype 5
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    block title
      title
        if title
          =title
          |  ☆ 
        | StandUpper
    block css
      link(rel='stylesheet', href='/css/style.css')
    script(src='//localhost.dev:35729/livereload.js')
  body
    header
      h1 StandUpper
      if user
        div.user
          span.hcard
            if user.avatarUrl
              img.photo(src=user.avatarUrl)
            span.fn
              = user.displayName
          |  
          a(href='/deauth') de-auth
    block content
    block js
      script(src='/js/script.js')